<h3>
welcome to my website <%= @user.name %>
</h3>
<div>
<p>
I hope you are having a good day. Have a good time! <br>
UserName = <%= @user.name %> <br>
Email = <%= @user.email %> <br>
Nickname = <%= @user.user_name %>
</p>
</div>